@font-face {
	font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
	src: url( 'src/IBMPlexMono-Regular.woff' ) format( 'woff' );
}

:root {
  font-family: 'IBM Plex Mono';
  font-size: 1.5em;
  line-height: 1.75;
  margin: auto;
  max-width: 70ch;
  padding: 3em 1em;
  --color-light: #fff3e5;
  --color-dark: #202020;
  background-color: var( --color-light );
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, table, details {
  margin: 3em 0 1em;
}

p, ul, ol {
  color: var( --color-light );
  margin-bottom: 2em;
}

a {
	color: #99ddff
}

table {
	width: 100%;
}

li {
	list-style-type: '- ';
}

details > summary {
	list-style-type: '[ ] ';
}

details[ open ] > summary {
	list-style-type: '[x] ';
}

@media ( prefers-color-scheme: dark ) {

	:root {
		background-color: var( --color-dark );
	}

	h1, h2, h3, h4, h5, h6, table, details {
		color: var( --color-light );
	}

	p, ul, ol {
	  color: var( --color-light );
	}

	a {
		color: #0088cc
	}

}
